# Root EditorConfig
root = true

[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
end_of_line = lf

[*.json]
end_of_line = lf

[*.js]
end_of_line = lf

[*.ts]
end_of_line = lf

[*.py]
end_of_line = lf

[*.yaml]
end_of_line = lf

[*.yml]
end_of_line = lf
